#cadastro {
    background-color: #BEC4ED;
    width: 162px;
    margin: 10px;
}


.caixa_conteinerB {
    height: 100px;
    margin: 2%;
    margin-top: -4%;
}

.caixa_formulario {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: -80px;
}

.caixa_formulario h1 {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #69418B;
}

.caixa_formulario2 {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 10px;
}

.caixa_formulario2 h1 {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #BEC4ED;
}

.caixa_formulario2B {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-right: 15px;
}

.caixa_formulario2B h1 {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #BEC4ED;
}

.caixa_formulario3 {
    width: 800px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    margin-right: 50px;
}

.caixa_formulario3 h1 {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #69418B;
}

.caixa_formulario4 {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.caixa_formulario4 h1 {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #BEC4ED;
}

.caixa_formulario5 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao {
    width: 100%;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #BEC4ED;
    opacity: .4;
}

.apresentacao2 {
    margin-top:10px ;
    width: 100%;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #69418B;
    opacity: .7;
}


.formulario {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: space-evenly;
    padding: 30px;
    background-color: #BEC4ED;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.formulario .button {
    margin-top: 10px;
    background: #BEC4ED;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
    justify-content: center;
}

.formulario span {
    font-size: 20px;
    text-align: center;
    margin: 6px;
    color: #69418B;
}

.formulario5 {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 10%;
    background-color: #BEC4ED;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.formulario5 .button {
    margin-top: 10px;
    background: #BEC4ED;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
    justify-content: center;
}

.formulario5 span {
    font-size: 20px;
    text-align: center;
    margin: 6px;
    color: #69418B;
}

.formulario6 {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: space-evenly;
    padding: 30px;
    background-color: #BEC4ED;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.formulario6 .button {
    margin-top: 10px;
    background: #BEC4ED;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
    justify-content: center;
}

.formulario6 span {
    font-size: 20px;
    text-align: center;
    margin: 6px;
    color: #69418B;
}

#div_b {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 120%;
    margin-top: 50px;
    margin-left: 50px;
}

#logo2 {
    width: 120%;
    margin-left: 50px;
}


.formulario input {
    padding: 10px;
    text-align: center;
    background-color: #BEC4ED;
    border-color: #1C3720;
    border-radius: 20px;
    color: #1C3720;
    border-style: solid;
    border-width: 1px;
}

#input_pesquisa {
    padding: 10px;
    text-align: center;
    background-color: #BEC4ED;
    border-color: #1C3720;
    border-radius: 20px;
    color: #1C3720;
    border-style: solid;
    border-width: 1px;
}

#input_fkLocal {
    padding: 10px;
    text-align: center;
    background-color: #BEC4ED;
    border-color: #1C3720;
    border-radius: 20px;
    color: #1C3720;
    border-style: solid;
    border-width: 1px;
}

#botão {
    background-color: #69418B;
    width: 200px;
    margin-top: 10px;
    color: #BEC4ED;
    padding: 15px;
    border: 1px solid rgb(190, 196, 237);
    text-align: center;
    border-radius: 10px;
    font-size: 20px;

}

#botão:hover {
    background-color: #69418B;
    width: 200px;
    margin-top: 10px;
    color: #BEC4ED;
    padding: 15px;
    border: 1px solid rgb(190, 196, 237);
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


#buscaCEP {
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#planejando {
    border-radius: 10px;
    margin-left: -30px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}

#img_sorteada {
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#select_atividades, 
#duracao_input,
#numero_input,
#data_input,
#select_estacaoano,
#select_locais,
#select_satisfacao, 
#id_input,
#comentarios_input,
#cidade_input{
    padding: 10px;
    text-align: center;
    background-color: #BEC4ED;
    border-color: #1C3720;
    border-radius: 20px;
    color: #1C3720;
    border-style: solid;
    border-width: 1px;
}


#div_result {
    color: #1C3720;
    font-size: 30px;
    text-align: center;
}


#game {
    background-color: #1C3720;
    height: 100px;
    width: auto;
    display: block;

}

.game span {
    width: 100%;
    font-size: 50px;
    text-transform: uppercase;
    color: #BEC4ED;
    opacity: .4;
    margin-top: -100px;
}

.yes-or-no {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.yes-or-no .yes {
    font-weight: bold;
    height: 35px;
    margin-right: 5px;
    background-color: #1C3720;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    text-transform: uppercase;
    border:none;
}

.yes-or-no .no {
    height: 35px;
    margin-left: 5px;
    font-weight: bold;
    background-color: #BEC4ED;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border:none;
    padding: 5px;
    text-transform: uppercase;
}